<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>チャットルーム</title>
    <%- include("../_share/stylesheets.ejs") %>
  </head>
  <body>
    <%- include("../_share/navbar.ejs") %>
    <main class="container">
      <div class="mt-5 mb-5">
        <form class="send">

            <input  type="text" id="word" />
            <button  class="btn btn-secondary">送信</button>

        </form>
      </div>

      <ul id="messages"></ul>

      <script src="/socket.io/socket.io.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

      <script>
        $(() => {
          //Socket機能を呼び出し
          const socket = io();

          //送信ボタンの押下処理
          $(".send").submit(function () {
            //socket.emit("イベント名", data)： データの送信
            socket.emit("sending message", $("#word").val());
            //フォームを空にする
            $("#word").val("");
            return false;
          });

          //Socket.on("イベント名", data)： データの受信
          //サーバーから送信されたメッセージを受信し、msgに格納
          socket.on("new message", (msg) => {
            //id=messagesのタグにmsgに格納されたデータを表示
            $("#messages").append($("<li>").text(msg));
          });
        });
      </script>
      <%- include( "../_share/javascripts.ejs" ) %>
    </main>
  </body>
</html>
