<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>会員メニュー</title>
    <%- include("../_share/stylesheets.ejs") %>
  </head>
  <body>
    <%- include("../_share/navbar.ejs") %>
    <main class="container">
      <div class="mt-5 mb-5">
        <h1>会員メニュー</h1>
        <nav>
          <a class="nav-link active disabled">ホーム</a>
          <% if (locals.user.role_code == "0002") { %>
            <a class="nav-link" href="/matching/job_list">応募一覧へ</a>
          <% } else if (locals.user.role_code == "0003") { %> 
            <a class="nav-link" href="/matching/selection/#">選考一覧へ</a>
          <% } %> 

          <% if (locals.user.role_code == "0002") { %>
            <a class="nav-link" href="#">スキルシート登録へ</a>
          <% } else if (locals.user.role_code == "0003") { %> 
            <a class="nav-link" href="/account/posts/regist">仕事情報登録</a>
          <% } %> 
          
          <% if (locals.user.role_code == "0002") { %>
            <a class="nav-link" href="#">スキルシート編集</a>
          <% } else if (locals.user.role_code == "0003") { %> 
            <a class="nav-link" href="/account/posts/edit/search">既存仕事情報編集/削除</a>
          <% } %> 
        </nav>
      </div>
    </main>
    <%- include( "../_share/javascripts.ejs" ) %>
  </body>
</html>
