<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>既存仕事情報削除</title>
    <%- include("../../_share/stylesheets.ejs") %>
  </head>
  <body>
    <%- include("../../_share/navbar.ejs") %>
    <main class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1 class="mb-4">仕事情報の削除
        </h1>
      </div>
      <div class="alert alert-danger">削除が完了しました</div>
    </main>
    <form>
      <div class="form-group row">
        <div class="col-sm-1"></div>
      <div class="col-sm-1 mt-5">
        <input type="submit" class="btn btn-secondary" data-method="GET" data-action="/account/" value="戻る" />
      </div>
    </div>
    </form>
    <%- include( "../../_share/javascripts.ejs" ) %>
    <script src="/public/source/javascripts/account/posts/about_posts.js"></script>
  </body>
</html>
