<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新規仕事情報登録</title>
    <%- include("../../_share/stylesheets.ejs") %>
    <!-- <link
      rel="stylesheet"
      href="/public/source/third_party/bootstrap/css/bootstrap.css"
    /> -->
  </head>
  <body>
    <%- include("../../_share/navbar.ejs") %>
    <main class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1 class="mb-4">新規仕事登録</h1>
      </div>
      <div class="alert alert-success">登録完了</div>
    </main>
    <%- include( "../../_share/javascripts.ejs" ) %>
  </body>
</html>
