<!-- 検索結果をカードスタイルで表示 -->
<div class="card mt-3 mb-3">
  <!-- 仕事詳細情報のリンク貼り付け -->
  <a href="/posts_skill<%= url %>">
    <div class="card-body">
      <!-- 仕事名 -->
      <h5 class="card-title"><%= username %></h5>
      <!-- 仕事内容 -->
      <p class="card-text"><%= experience %></p>
      <p class="card-text"><%= skill %></p>
    </div>
  </a>
</div>
