<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>検索</title>
    <!-- JavaScriptインポート -->
    <%- include("../_share/stylesheets.ejs") %>
  </head>
  <body>
    <%- include("../_share/navbar.ejs") %>
    <main class="container">
      <!------- 検索結果表示部分 ------->
      <div class="mt-5 mb-5">
        <!-- let item変数を作成→itemにサーバーからレスポンスされたlist(仕事情報)を格納→繰り返し -->
        <!-- list:search.jsから送られてきた仕事情報
          item: listに格納されている情報を随時格納 -->
        <!-- for...ofのループ処理がなされているgetJob job_test -->
        <% for ( var i = 0; i < doc.length; i++ ) { %> 
          <%- include("./job_list_item.ejs",doc[i] ) %>
        <% }%>
      </div>
    </main>
    <%- include( "../_share/javascripts.ejs" ) %>
  </body>

</html>
